{
  "id": "2f580aaa-33dd-d088-3d87-3a9deca8aa3a",
  "organizationId": "292f2321-577a-a7a5-4389-4a0e4a801fc3",
  "name": "KanbanBoard",
  "folderName": null,
  "displayName": "KanbanBoard",
  "cultures": [],
  "culture": {
    "en": "English",
    "zh": "中文(Zhōngwén), 汉语, 漢語"
  },
  "sitePath": {},
  "defaultCulture": "en",
  "autoDetectCulture": false,
  "continueDownload": false,
  "published": true,
  "status": "Published",
  "localRootPath": null,
  "enableCluster": false,
  "mirrorWebSiteBaseUrl": null,
  "enableVisitorLog": true,
  "enableImageLog": true,
  "enableSqlLog": false,
  "enableSitePath": false,
  "enableFullTextSearch": false,
  "enableMultilingual": true,
  "enableConstraintFixOnSave": true,
  "enableCORS": true,
  "enableFrontEvents": false,
  "enableConstraintChecker": false,
  "enableCache": true,
  "enableECommerce": false,
  "enablePublicModule": false,
  "enableSystemRoute": false,
  "enableFileIOUrl": true,
  "enableHtmlMinifier": false,
  "enableJsCssCompress": false,
  "enableJsCssBrowerCache": true,
  "enableImageBrowserCache": false,
  "enableImageAlt": false,
  "enableVideoBrowserCache": true,
  "enableSPA": false,
  "enableResourceCDN": false,
  "enableVisitorCountryRestriction": false,
  "visitorCountryRestrictions": {},
  "visitorCountryRestrictionPage": null,
  "imageCacheDays": 1,
  "creationDate": "2024-08-06T18:59:54.4025806Z",
  "continueConvert": true,
  "previewUrl": null,
  "baseUrl": null,
  "lastUpdateTime": 638585675944108348,
  "ssoLogin": false,
  "customErrors": {},
  "customSettings": {},
  "forceSSL": false,
  "siteType": "o",
  "whiteListPath": null,
  "specialPath": null,
  "includePath": false,
  "isApp": false,
  "automateCovertImageToWebp": false,
  "enableLighthouseOptimization": false,
  "enableCssSplitByMedia": false,
  "mobileMaxWidth": null,
  "desktopMinWidth": null,
  "defaultDatabase": "Auto",
  "lighthouseSettingsJson": "[{\"name\":\"AppendWidthHeight\",\"enable\":true,\"setting\":{}}]",
  "pwa": {
    "enable": false,
    "manifest": "{\"name\":\"task\",\"theme_color\":\"#FFFFFF\",\"start_url\":\"/\",\"display\":\"standalone\",\"background_color\":\"#000000\",\"icons\":[{\"sizes\":\"512x512\",\"src\":\"/_pwa/logo.png\"},{\"sizes\":\"512x512\",\"src\":\"/_pwa/logo.png\",\"purpose\":\"maskable\"}]}",
    "serviceWorker": "{\"CacheSettings\":[]}"
  },
  "codeLogSettings": {
    "enable": true,
    "logLevel": "Information",
    "keepDays": 30
  },
  "sitemapSettings": {
    "enable": false,
    "path": "/sitemap.xml",
    "autoGenerate": true,
    "code": "// const result= k.sitemap\r\n//     .create()\r\n//     .append(\"https://my_site.com/?name=abc\")\r\n//     .build();\r\n// export default result"
  },
  "unocssSettings": {
    "enable": true,
    "disableSsr": false,
    "resetStyle": true,
    "config": "{\n  \"safelist\": [\n    \"!border-primary\",\n    \"px-4\",\n    \"mx-4\",\n    \"collapse\",\n    \"block\",\n    \"hidden\",\n    \"w-[240px]\",\n    \"cursor-not-allowed\",\n    \"justify-center\",\n    \"border-red-400\",\n    \"!bg-[#ecf5ff]\",\n    \"bg-[#ecf5ff]\",\n    \"bg-gray-200\",\n    \"p-[20px]\",\n    \"pl-4\",\n    \"!p-0\",\n    \"!text-[#feb133]\",\n    \"text-gray-500\",\n    \"text-gray-600\",\n    \"text-red-400\",\n    \"opacity-100\",\n    \"placeholder:text-red-400::placeholder\",\n    \"text-primary\"\n  ],\n  \"theme\": {\n    \"colors\": {\n      \"primary\": \"#409eff\"\n    }\n  }\n}"
  },
  "visibleAdvancedMenus": [],
  "enableTinymceToolbarSettings": false,
  "tinymceToolbarSettings": null,
  "tinymceSettings": {},
  "codeSuggestions": [],
  "recordSiteLogVideo": false,
  "enableUpdateSimilarPage": true,
  "devPassword": "9277"
}