{
  "id": "3cfd7f0a-9adb-0f46-ec6a-5f06aaf1b175",
  "organizationId": "292f2321-577a-a7a5-4389-4a0e4a801fc3",
  "name": "tools",
  "folderName": null,
  "displayName": "tools",
  "cultures": [],
  "culture": {
    "en": "English"
  },
  "sitePath": {},
  "defaultCulture": "en",
  "autoDetectCulture": false,
  "continueDownload": false,
  "published": true,
  "status": "Published",
  "localRootPath": null,
  "enableCluster": false,
  "mirrorWebSiteBaseUrl": null,
  "enableVisitorLog": true,
  "enableImageLog": true,
  "enableSqlLog": false,
  "enableSitePath": false,
  "enableFullTextSearch": false,
  "enableMultilingual": false,
  "enableConstraintFixOnSave": true,
  "enableCORS": true,
  "enableFrontEvents": false,
  "enableConstraintChecker": false,
  "enableCache": true,
  "enableECommerce": false,
  "enablePublicModule": false,
  "enableSystemRoute": false,
  "enableFileIOUrl": true,
  "enableHtmlMinifier": false,
  "enableJsCssCompress": false,
  "enableJsCssBrowerCache": true,
  "enableImageBrowserCache": false,
  "enableImageAlt": false,
  "enableVideoBrowserCache": true,
  "enableSPA": false,
  "enableResourceCDN": false,
  "enableVisitorCountryRestriction": false,
  "visitorCountryRestrictions": {},
  "visitorCountryRestrictionPage": null,
  "imageCacheDays": 0,
  "creationDate": "2024-08-06T19:00:20.2838325Z",
  "continueConvert": true,
  "previewUrl": null,
  "baseUrl": null,
  "lastUpdateTime": 638585676202901035,
  "ssoLogin": false,
  "customErrors": {},
  "customSettings": {},
  "forceSSL": false,
  "siteType": "p",
  "whiteListPath": null,
  "specialPath": null,
  "includePath": false,
  "isApp": false,
  "automateCovertImageToWebp": false,
  "enableLighthouseOptimization": false,
  "enableCssSplitByMedia": false,
  "mobileMaxWidth": null,
  "desktopMinWidth": null,
  "defaultDatabase": "Auto",
  "lighthouseSettingsJson": null,
  "pwa": {
    "enable": false,
    "manifest": "{\"name\":\"online-it-tools\",\"theme_color\":\"#FFFFFF\",\"start_url\":\"/\",\"display\":\"standalone\",\"background_color\":\"#000000\",\"icons\":[{\"sizes\":\"512x512\",\"src\":\"/_pwa/logo.png\"},{\"sizes\":\"512x512\",\"src\":\"/_pwa/logo.png\",\"purpose\":\"maskable\"}]}",
    "serviceWorker": "{\"CacheSettings\":[]}"
  },
  "codeLogSettings": {
    "enable": true,
    "logLevel": "Information",
    "keepDays": 30
  },
  "sitemapSettings": {
    "enable": false,
    "path": "/sitemap.xml",
    "autoGenerate": true,
    "code": "// const result= k.sitemap\r\n//     .create()\r\n//     .append(\"https://my_site.com/?name=abc\")\r\n//     .build();\r\n// export default result"
  },
  "unocssSettings": {
    "enable": false,
    "disableSsr": false,
    "resetStyle": true,
    "config": "{\r\n  \"rules\": [\r\n    [\"m-1\", { \"margin\": \"0.25rem\" }]\r\n  ]\r\n}"
  },
  "visibleAdvancedMenus": [],
  "enableTinymceToolbarSettings": false,
  "tinymceToolbarSettings": null,
  "tinymceSettings": {},
  "codeSuggestions": [],
  "recordSiteLogVideo": false,
  "enableUpdateSimilarPage": true,
  "devPassword": "3818"
}