[
  {
    "id": "62d7d3fa-7e92-6f95-7cf3-b91a68883ea2",
    "domainId": "00000000-0000-0000-0000-000000000000",
    "subDomain": null,
    "organizationId": "292f2321-577a-a7a5-4389-4a0e4a801fc3",
    "webSiteId": "33947a53-b547-4d12-71dc-faf603100e38",
    "fullDomain": "appbox.localkooboo.com",
    "device": null,
    "redirect": null,
    "culture": null,
    "ipAddress": null,
    "port": 0,
    "isDefaultPortBinding": false
  },
  {
    "id": "a526a821-c589-fb2c-039d-9e875dd84910",
    "domainId": "00000000-0000-0000-0000-000000000000",
    "subDomain": null,
    "organizationId": "292f2321-577a-a7a5-4389-4a0e4a801fc3",
    "webSiteId": "2f580aaa-33dd-d088-3d87-3a9deca8aa3a",
    "fullDomain": "kanbanboard.localkooboo.com",
    "device": null,
    "redirect": null,
    "culture": null,
    "ipAddress": null,
    "port": 0,
    "isDefaultPortBinding": false
  },
  {
    "id": "0893a80b-83d9-da10-0c77-5c752cf5aa2f",
    "domainId": "00000000-0000-0000-0000-000000000000",
    "subDomain": null,
    "organizationId": "292f2321-577a-a7a5-4389-4a0e4a801fc3",
    "webSiteId": "cc6ee133-bf51-168b-0212-1774c5913869",
    "fullDomain": "community.localkooboo.com",
    "device": null,
    "redirect": null,
    "culture": null,
    "ipAddress": null,
    "port": 0,
    "isDefaultPortBinding": false
  },
  {
    "id": "74d00f2e-38d0-40aa-6219-8de0f3536ad4",
    "domainId": "00000000-0000-0000-0000-000000000000",
    "subDomain": null,
    "organizationId": "292f2321-577a-a7a5-4389-4a0e4a801fc3",
    "webSiteId": "3cfd7f0a-9adb-0f46-ec6a-5f06aaf1b175",
    "fullDomain": "tools.localkooboo.com",
    "device": null,
    "redirect": null,
    "culture": null,
    "ipAddress": null,
    "port": 0,
    "isDefaultPortBinding": false
  },
  {
    "id": "a38a292a-6f63-345a-cea2-184a9b92d22e",
    "domainId": "00000000-0000-0000-0000-000000000000",
    "subDomain": null,
    "organizationId": "292f2321-577a-a7a5-4389-4a0e4a801fc3",
    "webSiteId": "9ab2fa41-1962-1535-6ce0-935b9b7b5ec1",
    "fullDomain": "excalidraw.localkooboo.com",
    "device": null,
    "redirect": null,
    "culture": null,
    "ipAddress": null,
    "port": 0,
    "isDefaultPortBinding": false
  }
]